.DashboardSideBar{
    height: 100vh;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:0.4rem;
    background:white;
    color:rgb(0, 0, 0);
    font-size: 1.2rem;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid black;
}
.DashboardOptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.6rem;
    padding-block:1rem;
    padding-inline:0.8rem;
    cursor: pointer;
}
.DashboardOptions:hover{
    color: rgb(60, 190, 255);
}
.dashboardOptionColor{
    color:rgb(60, 190, 255);
}
.DashboardSideBar::-webkit-scrollbar{
    display: none;
}
.mobile-sidebar{
    display: none;
}
@media(max-width:700px){
    .DashboardSideBar{
        width:fit-content;
        min-width: 250px;
    }
    .activeside-bar{
        position: absolute;
        right:0;
        border-left:1px solid black;
    }
    .mobile-sidebar{
        position: absolute;
        display: inline-block;
        top:10px;
        right:10px;
        padding:2px;
        border-radius:10%;
    }
    .unactive-side-bar{
        display: none;
    }
}