.navbarComponent{
    width: fit-content; 
    max-height:100px;
    z-index: 1000;
    display:flex;
    flex: 0.5;
    color: #000;
    font-size:1.3rem;
    justify-content: flex-start;
    align-items: center;
    border:1px solid black;
    border-radius: 2rem;
    /* border-bottom: 1px solid #1a237e; */
    padding: 1rem;
}
.logo{
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid black; */
    font-size: 2.2rem;
    color:#272626;
    font-weight: 500;
}
.navbarmain{
    display: flex;
    padding-inline: 20px;
    /* border:1px solid black; */
}
.navBarComponentOptions{
    color:rgb(16, 15, 15);
    cursor: pointer;
    padding:1rem;
    height:100%;
    transition: all 0.4s ease-in-out;
    border-radius: 30px;
}
.navBarComponentOptions.highlightedOptionColor{
    color:rgb(60, 190, 255);
}
.navBarComponentOptions:hover{
    color:rgb(255, 255, 255);
    background: #000;
    border-radius: 30px;
    transform: scale(1.01);
}
.mobile-navbar-container{
    display: none;
}
.active,.notActive{
    display: none;
}
@media(max-width:750px){
    .navbarmain{
        display:none;
    }
    .mobile-navbar-container{
        display: flex;
        padding-inline:1.4rem;
        padding-block:0.7rem;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
    .mobile-navbar-container>svg{
        cursor:pointer
    }
    .mobile-navbar-sidebar{
        background-color: rgb(255, 255, 255);
        gap:5px;
        position: absolute;
        width: fit-content;
        padding-block:1rem;
        padding-inline:1.8rem;
        top:80px;
        right:5px;
        border-radius: 5px;
        width: fit-content;
        min-width: 100px;
        height: fit-content;
        flex-direction: column;
        z-index: 100;
    }
    .active{
        display: flex;
    }
    .notActive{
        display: none;
    }

}